<p>header works!</p>
<input type="submit" value="execute methode" (click)="sayHello()">

<div [style.backgroundColor]="kolor" >

    un msg simple
</div>
<input type="text" [(ngModel)]="kolor">
{{kolor|uppercase}}
<div *ngFor="let u of users">

    {{u.name}}
    {{u.quantity}}
    {{u.price}}
    <span *ngIf="u.quantity==0">
    <button [disabled]="true">buy</button>
</span>
<span *ngIf="u.quantity!=0">
    <button [disabled]="false">buy</button>
</span>
</div>
<hr>
<div *ngFor="let u of users">

    {{u.name}}
    {{u.quantity}}
    {{u.price}}
   
    <button [disabled]="u.quantity==0">buy</button>

</div>

<div [ngStyle]="{'backgroundColor':condition?'green':'yellow'}">ngstye</div>